@using WebStore.Web.ViewModels.Product;
@model IEnumerable<ProductViewModel>;

@{
    ViewBag.Title = "Products";
}

<div class="row">
    @foreach (var p in Model)
    {
        <div class="col">
            <div class="card mb-5" style="width: 18rem;">
                <img class="card-img-top" src="@p.ImageURL" alt="No image" style="height: 150px">
                <div class="card-body">
                    <h5 class="card-title">@p.Name</h5>
                    @*<p class="card-text">@category.Description</p>*@
                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@p.Id" class="btn btn-warning">Edit</a>
                    <a asp-controller="Product" asp-action="Delete" asp-route-id="@p.Id" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
